version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      astro:
        patterns:
          - "@astrojs/*"
          - "astro"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
