{{ if .Site.Params.loadFavicon }}
    {{ with .Site.Params.faviconVersion }}
        {{ $.Scratch.Set "favVer" "-" }}
        {{ $.Scratch.Add "favVer" . }}
    {{ else }}
        {{ $.Scratch.Set "favVer" "" }}
    {{ end }}

    {{ $favVer := $.Scratch.Get "favVer" }}
    {{ $favThemeColor := .Site.Params.faviconThemeColor }}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon{{ $favVer }}.png">
	<link rel="icon" type="image/png" href="/favicon-32x32{{ $favVer }}.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16{{ $favVer }}.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab{{ $favVer }}.svg" color="{{ $favThemeColor }}">
	<meta name="theme-color" content="{{ $favThemeColor }}">
{{ end }}
